<div class="dashboard-container">
	<div class="nav-bar-header-desktop">
		<%= pb_rails("background", props: { classname: "admin-background", background_color: "white", padding_bottom: "none", padding_top: "none" }) do %>
			<%= pb_rails("flex", props: { classname: "navs-container" }) do %> 
				<div id="NavBarComponent"></div>
				<%= javascript_pack_tag 'nav_bar' %>
			<% end %>
			<%= pb_rails("section_separator", props: { padding_bottom: "none" }) %>
			<%= pb_rails("flex", props: { classname: "navs-container" }) do %> 
				<%= render 'admin/admin_nav' %>
			<% end %>
		<% end %>
		<%= pb_rails("section_separator", props: { padding_bottom: "lg" }) %>
	</div>
	<%= pb_rails("flex", props: { orientation: "column", classname: "body-container" }) do %>
		<%= pb_rails("flex/flex_item", props: { classname: "content-container" }) do %>
			<%= pb_rails("caption", props: { padding_bottom: "xs", padding_top: "sm", text: "Dashboard" }) %>
			<%= pb_rails("title", props: { text: "Commerce Dashboard", tag: "h2", size: 2, bold: false, padding_bottom: "lg" }) %>
			<div id="KeyPerformanceIndicatorsComponent" data-props="<%= @line_chart_data.to_json %>"></div>
			<%= javascript_pack_tag 'key_performance_indicators' %>
		<% end %>
		<%= pb_rails("flex", props: { classname: "content-container" }) do %>
			<%= pb_rails("flex", props: { margin_y: "md" }) do %>
				<%= pb_rails("flex/flex_item") do %>
					<%= pb_rails("flex/flex_item", props: { margin_bottom: "md" }) do %>
						<%= pb_rails("caption") do %>
							This Week's Escalations
						<% end %>
					<% end %>
					<div id="EscalationsComponent" data-props="<%= {
						newTickets: @new_tickets,
						managerFeedback: @manager_feedback,
						processing: @processing,
						awaitingFeedback: @awaiting_feedback,
						approved: @approved
					}.to_json %>"></div>
					<%= javascript_pack_tag 'escalations' %>
				<% end %>
			<% end %>
		<% end %>
		<%= pb_rails("flex", props: { classname: "content-container row-container" }) do %>
			<div id="PipelineChartComponent" data-props="<%= { pipelineChartData: @pipeline_chart_data }.to_json %>"></div>
			<%= javascript_pack_tag 'pipeline_chart' %>
			<div id="IconGridComponent" data-props="<%= @icon_grid_data.to_json %>"></div>
			<%= javascript_pack_tag 'icon_grid' %>
		<% end %>
	<% end %>
</div>