<!-- app/views/layouts/application.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>YourApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= stylesheet_link_tag 'fontawesome-free/css/all.css', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_pack_tag 'application', defer: true %>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  <%= javascript_importmap_tags %>
</head>
<body>
  <%= yield %>
  <%= yield :pb_js %>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const urlParams = new URLSearchParams(window.location.search);
      if (urlParams.get('reload') === 'true') {
        window.location.href = window.location.origin + window.location.pathname;
      }
    });
  </script>
</body>
</html>